.container_nav {
    width: 100%;
    padding: 1.3rem 0px;
    background-color: #1e1e1e;
}

.box_nav {
    width: 100%;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box_nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;

    li {
        a {
            color: #e1e1e1;

            &:hover {
                color: #555;

                svg {
                    scale: 1.2;
                }
            }
        }
    }
}
