.card_skills {
    a {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
        color: #e1e1e1;
    }
}

.skills {
    margin-bottom: 1rem;

    p {
        margin-bottom: 10px;
    }

    div {
        display: flex;
        gap: 5rem;
        margin-left: 1rem;

        ul {
            list-style: circle;

            li {
                margin-bottom: 5px;
            }
        }
    }
}