.skills {
    margin-bottom: 1rem;

    p{
        margin-bottom: 10px;
    }

    div {
        display: flex;
        gap:5rem;
        margin-left: 1rem;

        ul {
            list-style: circle;
            li {
                margin-bottom: 5px;
            }
        }
    }
}